.row.justify-content-center
  .col-xs-12.col-md-8
    - @exercises.each do |exercise|
      .card.mb-4
        - exercise.resources.each do |resource|
          .mb-4
            - if resource.image?
              = image_tag(resource.name, class: 'img-fluid card-img-top')
            - else
              .embed-responsive.embed-responsive-16by9.card-img-top
                %video.embed-responsive-item{controls: '', preload: 'auto'}
                  %source{src: resource.name, type: 'video/mp4'}
        .card-body
          %h2.card-title
            = exercise.name
          %p.card-text
            = exercise.desc
