#gymnastic_rings
  .container.py-lg-5.py-md-4.py-sm-4.py-3
    .row.agile-service-grid.pt-lg-4.pt-md-4.pt-3
      .col-lg-4.col-sm-12.text-center.gap-1
        .white-shadow
          = link_to inline_svg_tag('calendar.svg'), gymnastic_rings_prog1_path()
          .ser-inner-info
            %h3 Программа 1
      .col-lg-4.col-sm-12.text-center.gap-1
        .white-shadow
          = link_to inline_svg_tag('sports.svg'), gymnastic_rings_prog2_path()
          .ser-inner-info
            %h3 Программа 2
      .col-lg-4.col-sm-12.text-center.gap-1
        .white-shadow
          = link_to inline_svg_tag('sports.svg'), gymnastic_rings_prog3_path()
          .ser-inner-info
            %h3 Программа 3




















  -#.container.py-lg-5.py-md-4.py-sm-4.py-3
  -#  .row.agile-service-grid.pt-lg-4.pt-md-4.pt-3
  -#    .col-sm-12
  -#      - @days.each do |day|
  -#        .row.justify-content-center
  -#          %h3
  -#            = day.name
  -#        - day.exercises.each do |exercise|
  -#          .row
  -#            %h4
  -#              = exercise.name
  -#          .row.mb-3
  -#            %p
  -#              = exercise.desc
  -#            - if exercise.file_name.present?
  -#              - if exercise.image_tutorial?
  -#                = image_tag(exercise.file_name, class: 'img-fluid')
  -#              - else
  -#                .embed-responsive.embed-responsive-16by9
  -#                  = video_tag(exercise.file_name, controls: true)
  -#
  -#



